@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

p, a, h1, h2, h3, h4, h5, h6 {
    transform: skew(-0.1deg);
}

a:hover{
    color : #3DB6AE;
    font-weight :bold;
}
body {
    margin: 0;
    height: 100%;
    padding-top: 70px;
    font-family: 'nanumsquare';
}

#container {
    width: 95%;
    margin-right : auto;
    margin-left : auto;
    padding : 10px 10px 0px 10px;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom : 1px solid lightgray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color : #ffffff;
}

#inputArea {
    display: flex;
    justify-content: space-between;
}


#inputArea  #inputSearch {
    position : relative;
    width : 400px;
    margin-left : 60px;
}

#inputSearch >input{
    width : 100%;
    border-radius : 10px;
    border: 1px solid lightgray;
    height : 37px;
    padding-left : 10px;
    padding-right : 10px;
}

#inputSearch .fa-search{
    position : absolute;
    right : 0px;
    top : 13px;
    margin : 0;
}

#subMenus{
    width : 300px;
    display : flex;
    justify-content: space-between;
}



section{
    width : 1280px;
    margin-left : auto;
    margin-right : auto;
    z-index: 1;
    min-height : 760px;
    margin-bottom : 100px;
    position: relative;
}




footer {
    position: absolute;
    left : 0;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c4c4c4;
    text-align: center;
}

#footerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height : 100px;
}

#footerText p {
    font-size: 12px;
    text-align: left;
}
